<div class="tree-view-item" [style.height]="(fullHeight - 1) + 'px'" [style.padding]="allPaddingsString">
    <span *ngIf="data.hasChildren" class="tree-view-item-expander">
        <span *ngIf="data.isExpanded" class="tree-view-item-expanded" (click)="clickToCollapse($event)">-&nbsp;</span>
        <span *ngIf="!data.isExpanded" class="tree-view-item-collapsed" (click)="clickToExpand($event)">+&nbsp;</span>
    </span>
    <span *ngIf="!data.hasChildren" class="tree-view-item-expander">
        <span class="tree-view-item-expanded">&nbsp;</span>
    </span>
    <span class="tree-view-item-content" (click)="clickToSelect($event)">
        <span class="tree-view-item-checkbox">
            <input type="checkbox" [checked]="data.isSelected ? 'checked' : ''">
        </span>
        <span class="tree-view-item-icon">{{icon}}</span>
        <span class="tree-view-item-text">{{text}}</span>
    </span>
</div>